{{> header}}

<section>
    <header>
        <h1>Работу выполнял {{student.firstName}}  </h1>
        <h1>Номер группы: {{student.myGroup}} </h1>
        <h1>Номер индивидуального задания: {{student.taskVar}}</h1>
        <h1>Текст индивидуального задания: {{student.taskDesc}}</h1>
    </header>

{{> navbar}}
</section>

{{> footer}}