
<div id="favDialog" style="display: none;margin: 0; position: absolute; top: 30%; left: 50%; z-index:10" >
    <form method="dialog" id="tableinfo">
        <input type="text" name="appName" class="appName" placeholder="Название приложения"><br>
        <input type="text" name="developerName" class="developerName" placeholder="Разработчик"><br>
        <input type="text" name="releaseDate" class="releaseDate" placeholder="Дата релиза"><br>
        <input type="text" name="money" class="money" placeholder="Стоимость"><br>
        <menu>
            <button id="confirmBtn" value="default">Подтвердить</button>
        </menu>
    </form>
</div>

