
<div id="favDialog" style="display: none">
    <form method="dialog" id="tableinfo">
        <input type="text" name="appName" class="appName"><br>
        <input type="text" name="developerName" class="developerName"><br>
        <input type="text" name="releaseDate" class="releaseDate"><br>
        <input type="text" name="money" class="money"><br>
        <menu>
            <button value="cancel">Cancel</button>
            <button id="confirmBtn" value="default">Confirm</button>
        </menu>
    </form>
</div>

