{{> header}}

<div id="taskRes">
<form name="student"  method="get">
    Последовательность чисел: <input id = "taskText" type="text" name="numbers" /><br/>
    Решение: <output type="text" name="solution" /><br/>
    <input id = "getResBtn" type="submit" value="Save" />
</form>
</div>
{{> navbar}}

{{> footer}}