{{> header}}

<div id="taskRes">
<form name="student"  method="get">
    Последовательность чисел (через запятую):
    <input id = "taskText" type="text" name="numbers" /> <br>
    <div type="text" name="solution" class="outputTask"></div>
    <button id = "getResBtn">Найти максимальное число</button>
</form>
</div>
{{> navbar}}

{{> footer}}