{{> header}}

<form name="student" action="add" method="post">
    Последовательность чисел: <input type="text" name="numbers" /><br/>
    Решение: <output type="text" name="solution" /><br/>
    <input type="submit" value="Save" />
</form>

{{> footer}}